

#magento
magento/.buildpath
magento/.cache
magento/.metadata
magento/.project
magento/.settings
magento/.vscode
magento/atlassian*
magento/nbproject
magento/robots.txt
magento/pub/robots.txt
magento/sitemap
magento/sitemap.xml
magento/pub/sitemap
magento/pub/sitemap.xml
magento/.idea
magento/.gitattributes
magento/app/config_sandbox
magento/app/etc/env.php
magento/app/code/Magento/TestModule*
magento/lib/internal/flex/uploader/.actionScriptProperties
magento/lib/internal/flex/uploader/.flexProperties
magento/lib/internal/flex/uploader/.project
magento/lib/internal/flex/uploader/.settings
magento/lib/internal/flex/varien/.actionScriptProperties
magento/lib/internal/flex/varien/.flexLibProperties
magento/lib/internal/flex/varien/.project
magento/lib/internal/flex/varien/.settings
magento/node_modules
magento/.grunt
magento/Gruntfile.js
magento/package.json
magento/.php_cs
magento/.php_cs.cache
magento/grunt-config.json
magento/pub/media/*.*
magento!/pub/media/.htaccess
magento/pub/media/attribute/*
magento!/pub/media/attribute/.htaccess
magento/pub/media/analytics/*
magento/pub/media/catalog/*
magento!/pub/media/catalog/.htaccess
magento/pub/media/customer/*
magento!/pub/media/customer/.htaccess
magento/pub/media/downloadable/*
magento!/pub/media/downloadable/.htaccess
magento/pub/media/favicon/*
magento/pub/media/import/*
magento!/pub/media/import/.htaccess
magento/pub/media/logo/*
magento/pub/media/custom_options/*
magento!/pub/media/custom_options/.htaccess
magento/pub/media/theme/*
magento/pub/media/theme_customization/*
magento!/pub/media/theme_customization/.htaccess
magento/pub/media/wysiwyg/*
magento!/pub/media/wysiwyg/.htaccess
magento/pub/media/tmp/*
magento!/pub/media/tmp/.htaccess
magento/pub/media/captcha/*
magento/pub/media/sitemap/*
magento!/pub/media/sitemap/.htaccess
magento/pub/static/*
magento!/pub/static/.htaccess

magento/var/*
magento!/var/.htaccess
magento/vendor/*
magento!/vendor/.htaccess
magento/generated/*
magento!/generated/.htaccess
magento.DS_Store

#3DTool
#backend

boxtool/src/.env

boxtool/src/.bin/detect-libc
boxtool/src/.bin/detect-libc.cmd
boxtool/src/.bin/detect-libc.ps1
boxtool/src/.bin/mime
boxtool/src/.bin/mime.cmd
boxtool/src/.bin/mime.ps1
boxtool/src/.bin/mkdirp
boxtool/src/.bin/mkdirp.cmd
boxtool/src/.bin/mkdirp.ps1
boxtool/src/.bin/needle
boxtool/src/.bin/needle.cmd
boxtool/src/.bin/needle.ps1
boxtool/src/.bin/node-pre-gyp
boxtool/src/.bin/node-pre-gyp.cmd
boxtool/src/.bin/node-pre-gyp.ps1
boxtool/src/.bin/nopt
boxtool/src/.bin/nopt.cmd
boxtool/src/.bin/nopt.ps1
boxtool/src/.bin/rc
boxtool/src/.bin/rc.cmd
boxtool/src/.bin/rc.ps1
boxtool/src/.bin/rimraf
boxtool/src/.bin/rimraf.cmd
boxtool/src/.bin/rimraf.ps1
boxtool/src/.bin/semver
boxtool/src/.bin/semver.cmd
boxtool/src/.bin/semver.ps1
boxtool/src/.bin/uuid
boxtool/src/.bin/uuid.cmd
boxtool/src/.bin/uuid.ps1
boxtool/src/package-lock.json
boxtool/src/node_modules/
boxtool/src/node_modules/*

#frontend
# dependencies
boxtool/ui/node_modules
boxtool/ui/.pnp
.pnp.js

# testing
boxtool/ui/coverage

# production
boxtool/ui/build

# misc
boxtool/ui.DS_Store
boxtool/ui.env.local
boxtool/ui.env.development.local
boxtool/ui.env.test.local
boxtool/ui.env.production.local

boxtool/uinpm-debug.log*
boxtool/uiyarn-debug.log*
boxtool/uiyarn-error.log*

