<?xml version="1.0"?>
<!--
/**
 * custom ducdevphp@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="mdqboxprint" frontName="mdqboxprint">
            <module name="Neotiq_Boxprint" />
        </route>
    </router>
</config>
