<?xml version="1.0"?>
<!--
/**
 * custom ducdevphp@gmail.com
 */
-->
<!--
/**
 * Copyright © 2015 Amasty. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="boxprintadmin" frontName="boxprintadmin">
            <module name="Neotiq_BoxprintAdmin" />
        </route>
    </router>
</config>
